<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h1>매치매이킹 서비스</h1>
<label> ID를 입력해 주세요.
    <input id="userIdInput" type="text">
    <input id="ticketContainer" type="hidden">
</label>
<button class="btn btn-primary" id="matching1vs1RegisterBtn">1vs1 매칭 등록</button>
<button class="btn btn-primary" id="matching2vs2RegisterBtn">2vs2 매칭 등록</button>
<button class="btn btn-danger" id="matchingStopBtn">매칭 중단</button>
<div id="matchingStatus" hidden></div>
<script>
    function getUserId() {
        return document.getElementById("userIdInput").value
    }

    function getTicket() {
        return document.getElementById("ticketContainer").value
    }

    async function registerMatching(gameType) {
        document.getElementById("ticketContainer").value = crypto.randomUUID()
        body = {
            user_id: getUserId(),
            game_type: gameType,
            ticket: getTicket()
        }
        header = {
            "Content-Type": "application/json"
        }
        console.log(body)
        res = await fetch("/match/register", {
                headers: header,
                method: "POST",
                body: JSON.stringify(body)
            }
        )
        document.getElementById("matchingStatus").innerText = "";
        timeoutPolling(getMatchingStatus, 5000);
    }

    function timeoutPolling(func, timeout) {
        let matchingStatus = document.getElementById("matchingStatus").innerText
        console.log(matchingStatus);
        if (matchingStatus === "stop") {
            return;
        }
        setTimeout(async () => {
            try {
                await func()
            } catch (error) {
                console.log(error)
            }
            timeoutPolling(func, timeout)
        }, timeout)
    }

    async function getMatchingStatus() {
        res = await fetch(`/match/result?ticket=${getTicket()}`);
        resJson = await res.json();
        roomId = resJson.room_id;
        console.log(resJson)
        console.log("room_id:", roomId)
        if (roomId) {
            console.log(roomId)
            console.log("매칭 완료")
            document.getElementById("matchingStatus").innerText = "stop";
            alert(`매칭 완료. ${roomId} 방에 입장했습니다.`)
        }
    }

    async function stopMatching() {
        document.getElementById("matchingStatus").innerText = "stop";
        res = await fetch(`/match?user_id=${getUserId()}`, {
            method: 'DELETE'
        })
    }

    document.getElementById("matching1vs1RegisterBtn").addEventListener("click", async () => {
        await registerMatching("1vs1")
    })
    document.getElementById("matching2vs2RegisterBtn").addEventListener("click", async () => {
        await registerMatching("2vs2")
    })
    document.getElementById("matchingStopBtn").addEventListener("click", stopMatching)
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>